
body {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: #ddeeee;
    color: #333333;
    font-size: 24px;
}

div.outer {
    background-color: #f0fafa;
    box-shadow: 0px 0px 10px #f0fafa;
    padding: 16px;
    border-radius: 8px;
    margin: 16px 5% 16px;
}

h1 {
    font-size: 64px;
    margin-top: 24px;
    font-weight: normal;
    margin-bottom: 4px;

}

h2 {
    font-size: 40px;
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: normal;
}

a {
    color: #228888;
    text-decoration: none;
}

a.project {
    font-size:28px;
}

a.main_link {
    font-size: 36px;
}

a:hover, a:active {
    border-bottom: 1px solid #888888;
}
