body {
	font-family: 'Segoe UI','Cantarell', sans-serif;
	background-color: #eeeeee;
	color: #333333;
	font-size: 32px;
}

h1 {
	font-size: 72px;
	margin-top: 24px;
	font-weight: normal;

}

a {
	color: #115555;
	text-decoration: none;
}

a:hover, a:active {
	border-bottom: 1px solid #888888;
}
